body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}
/* Navigation */
header{
    background: #111;
    padding: 20px 40px;
    color: #fff;
}
nav{
    display: flex;

}
nav a{
    clear: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* Hero Section */
.hero{
    background: url('https://via.placeholder.com/1600x700') no-repeat center center/cover;
    height: 90px;
    display: flex;
    text-align: center;
    color: white;
}
.hero h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 30px;
}
.hero button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    background: #ff9800;
    color: #fff;
    border-radius: 110px;
    cursor: pointer;
}

/* sections */
section{
    padding: 60px 10%;
    text-align: center;
}
.features{
    display: flex;
    flex-wrap: wrap;
}
.features box{
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* footer */
footer{
    background: #111;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: 50px;
}