* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.wrapper {
    width: 100%;
    margin: auto;
}

/*   - HEADER- */
.header {        
    display: flex;
    padding: 15px 40px;
    background-color: #7a95ff;
}

.logo img {
    width: 150px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.menu ul li a:hover {
    color: #ffca28;
}

/* -HERO SECTION- */
.hero {
    padding: 80px 20px;
    text-align: center;
    background-color: #333;
    color: rgb(255, 255, 255);
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
    font-size: 18px;
}

.hero a {
    display: inline-block;
    padding: 10px 25px;
    background: #96cae8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.hero a:hover {
    background-color: #0400fd;
    color: #ffffff;
}

/*    -CONTENT SECTION- */
.content {
    display: flex;
    padding: 40px;
}

.box {
    width: 260px;
    background-color: #eae8e8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.box h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.box p {
    font-size: 14px;
    margin-bottom: 15px;
}

.button {         
    display: inline-block;
    padding: 8px 15px;
    background-color: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #ffca28;
    color: black;
}

/* -   FOOTER  - */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px;
}

.footer-link {
    color: #ff9800;
    text-decoration: none;
    margin: 0 8px;
}

.footer-link:hover {
    color: #fc0202; 
}
